//
// Responsive: Utility classes
// --------------------------------------------------


// IE10 in Windows (Phone) 8
//
// Support for responsive views via media queries is kind of borked in IE10, for
// Surface/desktop in split view and for Windows Phone 8. This particular fix
// must be accompanied by a snippet of JavaScript to sniff the user agent and
// apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
// our Getting Started page for more information on this bug.
//
// For more information, see the following:
//
// Issue: https://github.com/twbs/bootstrap/issues/10497
// Docs: http://getbootstrap.com/getting-started/#support-ie10-width
// Source: http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}


// Visibility utilities
// Note: Deprecated .visible-xs, .visible-sm, .visible-md, and .visible-lg as of v3.2.0

@include responsive-invisibility('.visible__xs');
@include responsive-invisibility('.visible__sm');
@include responsive-invisibility('.visible__md');
@include responsive-invisibility('.visible__lg');

.visible__xs__block,
.visible__xs__inline,
.visible__xs__inline-block,
.visible__sm__block,
.visible__sm__inline,
.visible__sm__inline-block,
.visible__md__block,
.visible__md__inline,
.visible__md__inline-block,
.visible__lg__block,
.visible__lg__inline,
.visible__lg__inline-block {
  display: none !important;
}

@media (max-width: $screen-xs-max) {
  @include responsive-visibility('.visible__xs');
}
.visible__xs__block {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}
.visible__xs__inline {
  @media (max-width: $screen-xs-max) {
    display: inline !important;
  }
}
.visible__xs__inline-block {
  @media (max-width: $screen-xs-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-visibility('.visible__sm');
}
.visible__sm__block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: block !important;
  }
}
.visible__sm__inline {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: inline !important;
  }
}
.visible__sm__inline-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-visibility('.visible__md');
}
.visible__md__block {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: block !important;
  }
}
.visible__md__inline {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: inline !important;
  }
}
.visible__md__inline-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-lg-min) {
  @include responsive-visibility('.visible__lg');
}
.visible__lg__block {
  @media (min-width: $screen-lg-min) {
    display: block !important;
  }
}
.visible__lg__inline {
  @media (min-width: $screen-lg-min) {
    display: inline !important;
  }
}
.visible__lg__inline-block {
  @media (min-width: $screen-lg-min) {
    display: inline-block !important;
  }
}

@media (max-width: $screen-xs-max) {
  @include responsive-invisibility('.hidden__xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-invisibility('.hidden__sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-invisibility('.hidden__md');
}

@media (min-width: $screen-lg-min) {
  @include responsive-invisibility('.hidden__lg');
}


// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.

// Note: Deprecated .visible-print as of v3.2.0

@include responsive-invisibility('.visible__print');

@media print {
  @include responsive-visibility('.visible__print');
}
.visible__print__block {
  display: none !important;

  @media print {
    display: block !important;
  }
}
.visible__print__inline {
  display: none !important;

  @media print {
    display: inline !important;
  }
}
.visible__print__inline-block {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

@media print {
  @include responsive-invisibility('.hidden__print');
}
