home,
body {
  background-color: #F6F6F6;
}

#sidebar,
#main {
	height: 100%;
	position: relative;
}

#sidebar {
  background-color: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
}


  h1 {
  	font-family: $font-family-serif !important;
  }
#main {
  background-color: transparent;
}
